[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = tick-tack-toe game django+tornado
[access "refs/*"]
	owner = group user/Vlad Strelnikov (strelass)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Vlad Strelnikov (strelass)
	label-Verified = -1..+1 group user/Vlad Strelnikov (strelass)
	push = group user/Vlad Strelnikov (strelass)
	read = group user/Vlad Strelnikov (strelass)
	rebase = group user/Vlad Strelnikov (strelass)
	removeReviewer = group user/Vlad Strelnikov (strelass)
	submit = group user/Vlad Strelnikov (strelass)
[access "refs/heads/*"]
	create = group user/Vlad Strelnikov (strelass)
	push = +force group user/Vlad Strelnikov (strelass)
	pushMerge = group user/Vlad Strelnikov (strelass)
	read = group user/Vlad Strelnikov (strelass)
[access "refs/tags/*"]
	push = group user/Vlad Strelnikov (strelass)
	push = +force group user/Vlad Strelnikov (strelass)
