Django==1.9.5
dj-static==0.0.6
django-allauth==0.25.2
django-crispy-forms==1.6.0
google-api-python-client==1.4.2
mysql-connector-python==2.0.4
MySQL-python==1.2.5
Pillow==9.0.1
django-redis-sessions==0.5.6
redis==2.10.5
tornado==4.3
brukva==0.0.1