{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
$(document).ready(function() {
    turn = {{ game.turn.id }};
    me = {{ request.user.id }};
    if (turn == me)
        turn = true;
    else turn = false;
    activate_game({{ game.id }}, {{ request.user.id }}, {{ game.sizeX }}, {{ game.sizeY }}, turn);
});
</script>
{% endblock %}

{% block content %}
    <style>
		#canvas {
			display: block;
			border: 1px solid blue;
			margin: 50px auto;
		}
	</style>

	<canvas id="canvas" width="400" height="400"></canvas>
    <div id="moves">
        <h2>Moves</h2>
        {% for move in moves %}
            <div class="move">{{ move }}</div>
        {% endfor %}
    </div>

    <div id="gamers">
        <h2>Players</h2>
        {% for participant in participants %}
            <div class="gamer">{{ participant.username }}</div>
        {% endfor %}
    </div>

{% endblock %}