{% extends "base.html" %}
{% load i18n %}

{% block head %}
<script type="text/javascript">
$(document).ready(function() {
    activate_game({{ game.id }}, {{ request.user.id }}, {{ game.sizeX }}, {{ game.sizeY }});
});
</script>
{% endblock %}

{% block content %}
    <style>
		#canvas {
			display: block;
			border: 1px solid blue;
			margin: 50px auto;
		}
        .side-bar {
            position: relative;
            height: 92%;
        }
{#        .panel {#}
{#            height: 20px;#}
{#        }#}
{#        .game-chat {#}
{#            position: absolute;#}
{#            top: 20px;#}
{#            bottom: 0;#}
{#            width: 100%;#}
{#            margin-bottom: 101px;#}
{#            margin-top: 20px;#}
{#            overflow-y: scroll;#}
{#            background-color: #e7e7e7;#}
{#            box-sizing: border-box;#}
{#        }#}
        .game-chat {
            height: 88%;
            background-color: #e7e7e7;
            overflow-y: scroll;
        }
        .panel {
            height: 2%;
        }
        .message_form {
            height: 10%;
        }
        .message-info {
            background-color: #31b0d5;
        }
        .message.success {
            background-color: chartreuse;
        }
{#        .message_form {#}
{#            position: absolute;#}
{#            bottom: 21px;#}
{#            width: 100%;#}
{#            box-sizing: border-box;#}
{#        }#}
        textarea {
            width: 100%;
            margin-right: 1px;
            box-sizing: border-box;
        }
        .compose {
            width: 100%;
        }
{#        .send #chat-send-button {#}
{#            position: absolute;#}
{#            bottom: 1px;#}
{#            width: 100%;#}
{#        }#}
	</style>

    <div class="content col col-lg-10 col-md-9 col-sm-8 col-xs-12">
    <div class="row">
        <div class="content-header">
            <div class="game-status">
                <h1>Game in progress</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-8 col-xs-12">
            <canvas id="canvas" width="400" height="400"></canvas>
        </div>
        <div class="col col-md-4 col-xs-12">
            <div class="col col-md-6 col-xs-6 content-right content-body">
                <div id="gamers">
                    <h2>Players</h2>
                    {% for participant in participants %}
                        <div class="gamer" id="{{ participant.id }}">{{ participant.username }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col col-md-6 col-xs-6 content-left content-body">
                <div id="moves">
                    <h2>Moves</h2>
                    {% for move in moves %}
                        <div class="move">{{ move }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="side-bar col col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <div class="panel row">
            <a href="{% url "lobby" %}" class="btn btn-default btn-block">{% trans "Go to lobby" %}</a>
        </div>
        <div class="game-chat row">

        </div>
        <form class="message_form row">
            <div class="compose">
                <textarea rows="1" cols="30" id="message_textarea"></textarea>
            </div>
            <div class="send">
                <button id="chat-send-button" class="btn btn-block btn-primary" type="button">{% trans "Send" %}</button>
            </div>
        </form>
    </div>


{% endblock %}