{% extends "base.html" %}
{% load i18n %}

{% block head %}
<script type="text/javascript">
$(document).ready(function() {
    activate_game({{ game.id }}, {{ request.user.id }}, {{ game.sizeX }}, {{ game.sizeY }});
});
</script>
{% endblock %}

{% block content %}
    <div class="content col col-lg-10 col-md-9 col-sm-8 col-xs-12">
    <div class="row">
        <div class="content-header">
            <div class="game-status">
                <h1></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-8 col-xs-12">
            <canvas id="canvas" width="400" height="400"></canvas>
        </div>
        <div class="col col-md-4 col-xs-12">
            <div class="col col-md-6 col-xs-6 content-right content-body">
                <div id="gamers">
                    <h2>{% trans "Players" %}</h2>
                    {% for participant in participants %}
                        {% if participant.id == request.user.id %}
                            <div class="gamer online" id="gamer-{{ participant.id }}">{{ participant.username }}</div>
                        {% else %}
                            <div class="gamer offline" id="gamer-{{ participant.id }}">{{ participant.username }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="visitors">
                    <h2>{% trans "Visitors" %}</h2>
                </div>
            </div>
            <div class="col col-md-6 col-xs-6 content-left content-body">
                <div id="moves">
                    <h2>Moves</h2>
                    {% for move in moves %}
                        <div class="move">{{ move }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="side-bar col col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <div class="panel row">
            <a href="{% url "lobby" %}" class="btn btn-default btn-block">{% trans "Go to lobby" %}</a>
        </div>
        <div class="game-chat row">

        </div>
        <form class="message_form row">
            <div class="compose">
                <textarea rows="1" cols="30" id="message_textarea"></textarea>
            </div>
            <div class="send">
                <button id="chat-send-button" class="btn btn-block btn-primary" type="button">{% trans "Send" %}</button>
            </div>
        </form>
    </div>


{% endblock %}