{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <h1>{% trans "Lobby" %}</h1>
    </div>
    <div class="row">
    <table id="games" class="table">
        <thead>
            <tr>
                <th>{% trans "Id" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Field size" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Winner" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for foo in games %}
            <tr>
                <td>{{ foo.id }}</td>
                <td>{{ foo.name }}</td>
                <td>{{ foo.sizeX }}x{{ foo.sizeY }}</td>
                <td>{{ foo.get_status_display }}</td>
                <td>
                    {% if foo.winner %}
                        {{ foo.winner.username }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
             <ul class="pagination  pagination-lg">
                <li><a href="?page={{ active_page|add:"-1" }}"><span class="glyphicon glyphicon-arrow-left"/></a></li>
                {% for i in pages %}
                    {% if active_page == i %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                    <a href="?page={{ i }}">{{ i }}</a></li>
                {% endfor %}
                <li><a href="?page={{ active_page|add:"1" }}"><span class="glyphicon glyphicon-arrow-right"/></a></li>
            </ul>
            </div>
        </div>
    </div>

    <div class="row">
    <button id="new_game" type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_game_modal">{% trans "Create new game" %}</button>
    </div>

    <div id="new_game_modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="col-md-8 col-md-offset-2 modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{% trans "New Game" %}</h4>
          </div>
          <div class="modal-body">
            <form action="." method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary btn-block" value="{% trans "Create game" %}">
            </form>
          </div>
        </div>
      </div>
    </div>

    <script type="application/javascript">
        {% if form.errors %}
            $('#new_game_modal').modal('toggle');
        {% endif %}
        $(document).ready(function() {
            $('#games').find('tbody').on('click', 'tr', function () {
                game_id = $(this).children()[0].innerHTML;
                window.location.href = "/tick_tack_toe/game/" + game_id + "/";
            });
            $( "tbody tr" ).hover(
              function() {
                  node = $(this);
                  node.attr("class", node.attr("class") + " enter");
              }, function() {
                        node = $(this);
                        node.attr("class", node.attr("class").replace("enter", ""));
              }
            );
        })
    </script>

{% endblock %}
