{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="col col-md-offset-4 col-md-4">
    {% if request.user.is_authenticated %}
        <div class="jumbotron">
            <a href="{% url "lobby" %}" class="btn btn-block btn-default">Go to the lobby</a>
        </div>
    {% else %}
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}

            {{ form|crispy }}

            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="btn btn-block btn-primary" type="submit">{% trans "Sign In" %}</button>
        </form>

    {% endif %}
    </div>

{% endblock %}